# Java class files
*.class

# Eclipse project files (optional: remove if you want to commit them)
.classpath
.project
.settings/

# Build folders
bin/
build/

# Logs
*.log

# Package files
*.jar
*.war
*.ear

# OS-specific files
.DS_Store
Thumbs.db

# Crash logs
hs_err_pid*
replay_pid*
